# This file is a "template" of what your parameters.yml file should look like
parameters:
        database_driver: pdo_mysql
        database_host: 127.0.0.1
        database_port: null
        database_name: structure
        database_user: root
        database_password: null
        mailer_transport: gmail
        mailer_host: ~
        mailer_user: demo.structure@gmail.com
        mailer_password: mariama1
        locale: fr
        secret: ThisTokenIsNotSoSecretChangeIt
        facebook_app_id: 1607755729444545
        facebook_app_secret: 56af907c3ef2129f86251b6d5142a602