<html>
<head>
    <title>Upload</title>
</head>
<body>
<ul>
{% for u in users %}
<li>{{u.fullname}}
    {% if u.asset != null %}
<img src="{{ ('/upload'~u.asset.pathasset~'/'~u.asset.uriasset~'.'~u.asset.extensionasset) | imagine_filter('profile') }}" />
    {% endif %}
</li>
{% endfor %}
</ul>

</body>
</html>